<div class="container content-center">
  <div class="row col-lg-8">
    <div id="main-gcamp" class="jumbotron">
      <h1>gCamp</h1>
      <h3>Your life, organized.</h3>
    </div>
  </div>
  <div class="row col-lg-8">
    <div class="col-sm-4 center">
      <%= image_tag 'edu02.jpg', :class=>"responsive" %>
    </div>
    <div class="col-sm-4 center">
      <%= image_tag 'edu03.jpg', :class=>"responsive"%>
    </div>
    <div class="col-sm-4 center">
      <%= image_tag 'edu01.jpg', :class=>"responsive" %>
    </div>
  </div>
  <div class="row col-lg-8">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body">
          Grouped by projects and lists. Just the way you like'em.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Documents</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Upload</li>
            <li>Comment</li>
            <li>Revise</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Comment on tasks and documents</li>
            <li>Get email notification</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
