<h1>Frequently Asked Questions</h1>
<br><br>

<ul class="list-unstyled">
  <% @faqs.each do |faq| %>
    <li><strong><%= faq.question %></strong></li>
    <br>
    <li><%= faq.answer %></li>
    <br>
  <% end %>
</ul>
