<h1>Frequently Asked Questions</h1>
<br><br>

<ul class="list-unstyled">
  <% @qa_sets.each do |qa_object| %>
    <li><strong><%= qa_object.question %></strong></li>
    <br>
    <li><%= qa_object.answer %></li>
    <br>
  <% end %>
</ul>
