<div class="container content-center">
  <div class="row col-lg-8">
    <h1 class="page-title">Terms</h1>
    <div class="message col-md-8">
      <p>gCamp is not responsible for anything, unless it is positive.</p>
      <p>You may not take us to court, for anything ever.</p>
    </div>
  </div>
</div>
