<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_project_path(@project), id: "edit-project-action", class: "btn btn-info" %>
    <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, id: "destroy-project-action", class:"btn btn-danger" %>
  </div>
  <h1><%= @project.name %></h1>
</div>
