<div class="container content-center">
  <div class="row col-lg-8">
    <h1 class="page-title">About</h1>
    <div class="col-md-4">
      <%= image_tag 'about.jpg',:class => "about-img img-responsive" %>
    </div>
    <div class="message col-md-8">
      <p>We are decdicated to the maers, the creators, the risk-takers. We wake up in the middle of the night and furiously write down ideas about how to make your online life better.</p>
      <p>When we're not hard at work, we're hard at play - we're the loud ones in the bar, and we're always the ones shutting the place down. Human communication and collaboration is what drives us, and it infuses every feature of gCamp.</p>
    </div>
  </div>
</div>
