/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

#mainContent {
  margin-top: 5em;
  margin-bottom: 4em;
}

.img-responsive {
  width: 100%;
  padding-bottom: 2em;
}

.panel-body {
  min-height: 8em;
}

footer .nav.navbar-navs a {
  padding-right: 15px;
  color: #333333;
}

footer .nav.navbar-navs a:hover {
  color: rgba(#333333, 0.8)
}

footer .nav.navbar-navs {
  padding-top: 10px;
}
.active {
  color: black;
  pointer-events: none;
}

.newtask-btn {
  margin-left: 2em;
}

.navbar.navbar-default {
  background-color: #FFFFFF;
}

.due-in-week {
  background-color: rgba(0,0,0,0.1)
}
