/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background-color: #CCC;
}
.content-center {
  padding: 0 3em;
  background-color: #FFF;
}
.panel-body {
  height: 100px;
}
.row {
  margin-bottom: 2em;
}
#main-gcamp {
  margin-top: 6em;
  border-radius: 0;
  border: 1px solid #696969;
}
.responsive {
  width: 99%;
}

/* FOOTER */
.fixed-bottom {
  height: 80px;
  padding: 1.5em 0;
  margin: 0 6em;
}
.list-inline {
  border-top: 1px solid #696969;
  padding-top: 2em;
}
.fixed-bottom ul li {
  padding-right: 1.2em;
}

/* ABOUT */
.message {
  line-height: 1.5;
  padding: 2em;
}
.page-title {
  margin-top: 3em;
}
.page-title,
.about-img {
  padding-bottom: 2em;
}
